<html>
  <head>
    <title>Page and Front Controller - Index</title>
  </head>
  <body>
    <ul>
      {{#each crews}}
        <li><a href="/crew?id={{this.id}}">{{this.name}}</a></li>
      {{/each}}
    </ul>
  </body>
</html>
